RULES:
 No promoting any channel unless it is in relation to the current conversation
 No curse words
 No spamming
 No changing nicknames
 Only invite friends you think can follow these rules
 Only use gamer tags to refer to people unless they say it is ok
 I will not do coding so don’t ask
 Be nice :smile:

IMPORTANT!!!
 If you break any rules once; you get kicked, if you do it again; you get banned!
